<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Face Detection API</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <video src="video.mp4" controls loop id="video" height="540" width="720" autoplay muted>
      
    </video>

    <div id="faces"></div>

    <script src="js/face-api.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html> -->
